.navbar-light {
    background-color: #cdcdcd;
    .nav-sets{
        margin-left:50px;
    }
}
.navbar-brand{
    display: contents;
    .name{
        margin-left: 20px;
        color: #00355e;
    }
}
