<nav class="navbar navbar-expand-lg fixed-top navbar-light" >
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand">
            <img src="../assets/linebarger_logo.png" height="28" alt="LINEBARGER">
            <h4 class="name">ITG LINEBARGER</h4>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav nav-sets">
                <a class="nav-item nav-link" routerLink="/">Home</a>
                <a class="nav-item nav-link" routerLink="/files">Files</a>
                <a class="nav-item nav-link" routerLink="/contract_manager">Contract Managers</a>
                <a class="nav-item nav-link" routerLink="/client_support">Client Support</a>
                <a class="nav-item nav-link disabled" tabindex="-1">Reports</a>
                
            </div>
            <div class="navbar-nav ms-auto">
                <!-- <span class="navbar-text">Presenting: BP3 Automation</span> -->
                <a class="nav-item nav-link" *ngIf="loginbtn" routerLink="/login">Sign In</a>
                <a class="nav-item nav-link" *ngIf="loginbtn" routerLink="/register">Register</a>
                <span class="navbar-text me-5" *ngIf="logoutbtn" >Welcome {{user.username}}</span>
                <a class="nav-item nav-link" *ngIf="logoutbtn" (click)="logout()" routerLink="/">Log Out</a>
            </div>
        </div>
    </div>
</nav>