.sen-2{
    color: red;
}
.f-size{
    font-size: small;
}


pre {
    margin-top: 0;
    margin-bottom: 0;

    code {
        background-color: #eee;
        border: 1px solid #999;
        display: block;
        overflow: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}

  .code_init{
      color: red;
  }