<div class="container-fluid container-pt">
    <div class="row">
        <!--
            This is the side bar 
        -->
        <div [@slideInOut] class="col-lg-2 align-items-stretch">
            <div class="card mb-3">
                <h4 class="card-header text-white bg-dark">BP3 Automation</h4>
                <div class="card-body">
                    <h5 class="card-title text-center">What was the purpose of creating this automation?</h5>
                    <p class="card-text">
                        The reasoning behind this project was to save a little bit of time and save input error when 
                        copying / pasting for a simple task and sending an email to Production. Also the extra time I 
                        had was used here lol; however, I also wanted to show how the functionality works, the process 
                        of making and downloading the setup for this program, and the future and updates of this progressivly 
                        intuitive automation. Below this blob of words is the download zip file for the automation and there 
                        will be updates to it as well.
                    </p>
                    <p class="card-text text-center"><a href="../assets/Automated_v2.1.0_20220429.zip" download class="f-size">Download Automated-BP3v2.1.0</a></p>
                    <p class="card-text text-center"><small class="text-muted">Last updated 04/18/2022</small></p>
                </div>
            </div>
            <div class="card mb-3">
                <h4 class="card-header text-white bg-dark">Whats New</h4>
                <div class="card-body">
                    <h5 class="card-title text-center">Version 1.1.1</h5>
                    <p class="card-text">
                        1. Now it is FULLY AUTOMATED with one click (technically two clicks lol).
                    </p>
                    <p class="card-text">
                        2. Updated the file paths to be able to see when downloaded and easier to replace.
                    </p>
                    <h5 class="card-title text-center">Version 1.1.2</h5>
                    <p class="card-text">
                        1. Bug fixes
                    </p>
                    <p class="card-text">
                        2. Checks exactly which prod is the client code in and no file / folder misshaps
                    </p>
                    <h5 class="card-title text-center">Version 1.1.3</h5>
                    <p class="card-text">
                        1. Fixing file paths so you dont have to change them or signatures
                    </p>
                    <h5 class="card-title text-center">Version 2.0.0</h5>
                    <p class="card-text">
                        1. A NEW INTERFACE!!! Now won't need to using command prompt and only need to click one button 
                    </p>
                    <p class="card-text">
                        2. Captures all the bug errors but no pop errors yet 
                    </p>
                    <h5 class="card-title text-center">Version 2.1.0</h5>
                    <p class="card-text">
                        1. Everything is crystal clear and now have error pop ups with now a NEW FEATURES 
                    </p>
                    <p class="card-text">
                        2. Now implemented with a stand alone file automation if you didn't want to send an email
                    </p>
                    <p class="card-text">
                        3. Log session is now available too everytime you automate a BP3!!!
                    </p>
                    <p class="card-text">
                        4. Adding a signature input if the application doesn't recognize your environment.
                    </p>
                    <p class="card-text">
                        5. NEW PRODS with Calif and Chicago
                    </p>
 
                </div>
            </div>
        </div>

        <!--
            This is the majority on the home page is going to be down the middle of the body (covers the rest)
        -->
        <div class="col-sm-10 align-items-stretch">

            <!--
                mb-3 spaces out the bottom of the cards
            -->

            <div class="card mb-3">
                <h3 class="card-header text-center">Milestone 1: The Downloads</h3>
                <div class="card-body">
                    <h5 class="card-title">Downloading software and extensions</h5>
                    <p class="card-text">The setup for this is essentially downloading the python installation to run on
                        your comamnd line but if anyone is interested in testing out the file, editing it, or even just
                        having it, I'll still have it here to show. </p>
                    <p class="card-text">1. Go to this website <a href="https://www.python.org/downloads/"
                            target="_blank" rel="noopener noreferrer">Python Installation</a> and click on "Download
                        Python 3.X.X" version

                    </p>
                    <p class="card-text">2. Through the installation process just click okay and use the recommended
                        features if it ever asks. <span class="sen-2">Once done with this then you are able to go to
                            your command line and run python scripts with py or python3 commands. </span>
                    </p>
                    <p class="card-text">3. Now download the different packages from python by running 
                        "py -m pip install pywin32 pandas numpy openpyxl" on the command prompt.
                    </p>
                    <p class="card-text">4. Also if you have downloaded the zip file on the left and set it to 
                        a path you would like to be, then good; if not then go ahead and download it put it somewhere 
                        on your "U" drive.
                    </p>
                    <p class="card-text">Now this part is only if you want to mess with the code, easier way to see the
                        code and edit it but if you do not want to then that is okay <span class="sen-2">just a reminder that you probably 
                            going to have to use the editpad to edit the code because later on in these steps, we have to 
                            change the file paths into your own file paths in the code.
                        </span>
                    </p>
                    <p class="card-text">Below you can download one of these IDE's or applications tp mess with the code.
                        If you download one of these making sure within one of these applications you choose, make sure to download the 
                        extensions for them. If there is any questions, come by my desk, message me, or email me.
                    </p>
                    <p class="card-text">For Visual Studio Code ---> <a href="https://code.visualstudio.com/" target="_blank"
                            rel="noopener noreferrer">Visual Studio Code</a> and click on "Download for Windows"
                    </p>
                    <p class="card-text">For Anaconda ---> <a href="https://www.anaconda.com/products/distribution" target="_blank"
                        rel="noopener noreferrer">Anaconda</a> and click on "Download for Windows"
                </p>
                </div>
            </div>
            <div class="row">
                <div class="col-7 align-items-stretch">
                    <div class="card mb-3">
                        <h3 class="card-header text-center">Milestone 2: The Setup</h3>
                        <div class="card-body">
                            <h5 class="card-title">Setting up the file paths and organization</h5>
                            <p class="card-text"> Turns out you dont need to mess with any code since its a simple installation; all 
                                you have to do is save the ".exe" file on you Desktop or pin it on your start task bar.
                            </p>
        
                        </div>
                    </div>
                </div>
                <div class="col-5 align-items-stretch">
                    <div class="card mb-3">
                        <h3 class="card-header text-center">Creators Comments</h3>
                        <div class="card-body">
                            <h5 class="card-title">Couple of Things / Future Updates</h5>
                            <p class="card-text"> 1. There will be other options for automation like if you only want the BP3, etc.
                            </p>
                            <p class="card-text"> 2. Error pop ups 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-7 align-items-stretch" *ngIf="userLogin">
                    <div class="card mb-3">
                        <h3 class="card-header text-center">List of Users Joined</h3>
                        <div class="card-body">
                            <h5 class="card-title">SageJherm Setup Users</h5>
                            <!-- <div>{{usersList | json}}</div> -->
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered table-data">
                                    <tr>
                                        <th>User</th>
                                    </tr>
                                    <tr *ngFor="let users of usersList">
                                        <td><pre>{{users | json}}</pre></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            
                
            
            

            

            

        </div>

    </div>

</div>