<!-- <div style="margin-bottom: 1000px; text-align: center;">
     <h1>404 Error</h1>
    <h1>Client Support Page Not Found</h1>
    <h5>Coming soon in the next update</h5> 

     <div class="card">
        <div class="card-header">
            Welcome {{user.username}}
        </div>
        <div class="card-body">
            Thank you for testing our sign in page !
        </div>
    </div> 
</div> -->

<div class="container-pt">

    <div class="row" style="margin-left:300px;margin-right:300px">
        <div class="col-xl-4 row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        SCHEDULE
                    </div>
                    <div class="card-body">
                        Thank you for testing our sign in page !
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        CAPTAINS
                    </div>
                    <div class="card-body">
                        Thank you for testing our sign in page !
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        NEWS
                    </div>
                    <div class="card-body">
                        Thank you for testing our sign in page !
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-xl-8 row">
            
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        ANNOUNCEMENTS
                    </div>
                    <div class="card-body">
                        Thank you for testing our sign in page !
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        Welcome {{user.username}}
                    </div>
                    <div class="card-body">
                        Thank you for testing our sign in page !
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        ABOUT US
                    </div>
                    <div class="card-body">
                        Thank you for testing our sign in page !
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
