<div *ngIf="blurBackground">
    <div class="alert alert-success alert-fixed" role="alert"> 
        <h4>Thank you for registering</h4> Please be on a look out for a activation code in your email inbox.
    </div>
    <div class="alert-fixed" style="margin-top:150px;text-align: center;">
        <div class="card">
            <h2 class="card-header text-center">Confirm Your Email Address</h2>
            <div class="card-body row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="jumbotron">
                       Input the 6-digit code below to verify your email address.
                    </div>
                    <div class="otp-field mb-4">
                        <input type="text" pattern="\d*" maxlength="1"/>
                        <input type="text" pattern="\d*" maxlength="1" />
                        <input type="text" pattern="\d*" maxlength="1" />
                        <input type="text" pattern="\d*" maxlength="1" />
                        <input type="text" pattern="\d*" maxlength="1" />
                        <input type="text" pattern="\d*" maxlength="1" />
                      </div>
                      <button class="btn btn-primary mb-3">
                        Verify
                      </button>
                      <p class="resend text-muted mb-0">
                        Didn't receive code? <a href="">Request again</a>
                      </p>
                </div>
                <div class="col-md-3">
                </div>
    
            </div>
        </div>
    
    </div>
</div>
<div [ngClass]="{'disabled':blurBackground}">
    <navbar-root></navbar-root>
    <router-outlet></router-outlet>
    <load-root></load-root>
    <footer-root></footer-root>
</div>
